<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Regedit</servlet-name>
    <servlet-class>com.haitian.onlineshop.servlet.Regedit</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddAdmin</servlet-name>
    <servlet-class>com.haitian.onlineshop.servlet.AddAdmin</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EditAdmin</servlet-name>
    <servlet-class>com.haitian.onlineshop.servlet.EditAdmin</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EditAdminPass</servlet-name>
    <servlet-class>com.haitian.onlineshop.servlet.EditAdminPass</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteAdmin</servlet-name>
    <servlet-class>com.haitian.onlineshop.servlet.DeleteAdmin</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EditAdminDo</servlet-name>
    <servlet-class>com.haitian.onlineshop.servlet.EditAdminDo</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EditType</servlet-name>
    <servlet-class>com.haitian.onlineshop.servlet.EditType</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteType</servlet-name>
    <servlet-class>com.haitian.onlineshop.servlet.DeleteType</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddType</servlet-name>
    <servlet-class>com.haitian.onlineshop.servlet.AddType</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddProduct</servlet-name>
    <servlet-class>com.haitian.onlineshop.servlet.AddProduct</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>EditProduct</servlet-name>
    <servlet-class>com.haitian.onlineshop.servlet.EditProduct</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteProduct</servlet-name>
    <servlet-class>com.haitian.onlineshop.servlet.DeleteProduct</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowOrders</servlet-name>
    <servlet-class>com.haitian.onlineshop.servlet.ShowOrders</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowLIuyan</servlet-name>
    <servlet-class>com.haitian.onlineshop.servlet.ShowLIuyan</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowLiuyan</servlet-name>
    <servlet-class>com.haitian.onlineshop.servlet.ShowLiuyan</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.haitian.onlineshop.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Regedit</servlet-name>
    <url-pattern>/servlet/Regedit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddAdmin</servlet-name>
    <url-pattern>/servlet/AddAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditAdmin</servlet-name>
    <url-pattern>/servlet/EditAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditAdminPass</servlet-name>
    <url-pattern>/servlet/EditAdminPass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteAdmin</servlet-name>
    <url-pattern>/servlet/DeleteAdmin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditAdminDo</servlet-name>
    <url-pattern>/servlet/EditAdminDo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditType</servlet-name>
    <url-pattern>/servlet/EditType</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteType</servlet-name>
    <url-pattern>/servlet/DeleteType</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddType</servlet-name>
    <url-pattern>/servlet/AddType</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddProduct</servlet-name>
    <url-pattern>/servlet/AddProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditProduct</servlet-name>
    <url-pattern>/servlet/EditProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteProduct</servlet-name>
    <url-pattern>/servlet/DeleteProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowOrders</servlet-name>
    <url-pattern>/servlet/ShowOrders</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowLIuyan</servlet-name>
    <url-pattern>/servlet/ShowLIuyan</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowLiuyan</servlet-name>
    <url-pattern>/servlet/ShowLiuyan</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/servlet/Login</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>